<h1>Edit Link</h1>

<form action="<%= link_url(@link) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="put">
  <%= render "shared/errors" %>

  <%= render "form_fields" %>
  <br>

  <input type="submit" value="Edit link">
</form>
